body {
  font-family: Pacifico, cursive;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #045c6e;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #045c6e;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  font-size: larger;
  text-decoration: underline;
  transition: 0.20s;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
}

h2{
  margin-left: 20px;
  margin-top: 70px;
  font-size: 20px;
}

p{
  padding-left: 60px;
  padding-right: 100px;
}