/* Styling for the entire webpage */
body {
  font-family: Pacifico, cursive;/* Font family for text */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #f9f9f9; /* Background color */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items */
}

/* Styling for the main content area */
main {
  max-width: 1000px; /* Maximum content width */
  max-height: 700px; /* Maximum content height */
  margin: 20px auto; /* Center content horizontally */
  margin-bottom: 30px; /* Add margin at the bottom */
  padding: 40px; /* Add padding */
  background-color: white; /* Background color for the main content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Styling for the header section */
header {
  background-color: #045c6e; /* Background color */
  color: white; /* Text color */
  padding: 20px; /* Add padding */
  text-align: center; /* Center align text */
  width: 100%; /* Full width */
}

/* Styling for the main heading */
h1 {
  margin: 0; /* Remove margin */
  font-size: 2em; /* Set font size */
}

/* Styling for the navigation menu */
nav {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align items horizontally */
  padding: 10px; /* Add padding */
}

/* Styling for navigation links */
nav a {
  color: white; /* Text color */
  margin: 0 15px; /* Add margin around links */
  text-decoration: none; /* Remove underlines from links */
  font-size: 1em; /* Set font size */
}
/* Styling for navigation links on hover */
nav a:hover {
  font-size: larger; /* Increase font size on hover */
  text-decoration: underline; /* Add underline on hover */
  transition: 0.20s; /* Add a smooth transition effect */
}

/* Styling for the main content container */
.Index-body{
  margin: 0px; /* Remove margin */
  padding: 0px; /* Remove padding */
  text-align: left; /* Align text to the left */
  display: flex;
  align-items: center;
}

/* Styling for the content section */
.content {
  margin-right: 0px; /* Remove right margin */
  padding: 0px; /* Remove padding */
  text-align: center; /* Center align text */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items */
  
}

/* Styling for subheadings */
.Header2{
  font-family: 'Pacifico', cursive; /* Font family for subheadings */
  margin-bottom: 30px; /* Add margin at the bottom */
  margin-top: 30px; /* Add margin at the top */
  line-height: 10px; /* Set line height */
}

/* Styling for the profile picture */
.profile-pic {
  border-radius: 300px; /* Create a circular profile picture */
  margin-left: 40px; /* Add left margin */
  margin-bottom: 70px; /* Add bottom margin */
}

/* Styling for the profile picture on hover */
.profile-pic:hover{
  opacity: 0.9; /* Reduce opacity on hover */
  transition: 0.15s; /* Add a smooth transition effect */
}

/* Styling for paragraph text */
.Paragraph {
  margin-top: 1px; /* Add top margin */
  font-family: 'Dancing Script', cursive; /* Font family for paragraphs */
  padding-left: 70px; /* Add left padding */
  padding-right: 70px; /* Add right padding */
  font-size: 17px; /* Set font size */
  text-align: justify; /* Justify text */
}

/* Styling for the footer */
footer {
  margin-top: 30px; /* Add top margin */
  background-color: #045c6e; /* Background color */
  color: white; /* Text color */
  text-align: center; /* Center align text */
  padding: 1px; /* Add padding */
  position: fixed; /* Fixed position at the bottom */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Full width */
}

/* Styling for the contact button */
.Contact-button{

  background-color: rgb(131, 131, 221); /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 50px; /* Add button*/
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.Contact-button:hover{
  background-color: #045c6e;
}

.Contact-button:active{
    background-color: rgb(28, 28, 89) ;
  }