nav {
  background-color: #045c6e;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  font-size: larger;
  text-decoration: underline;
  transition: 0.20s;
}

.professional-page {
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 350px;
  padding-bottom: 50px;
  text-align: center;
}

.professional-page h1{
  text-align: center;
}



header {
  background-color: #045c6e;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #045c6e;
  text-decoration: none;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

iframe {
  width: 100%;
  height: 600px;
  border: none;
}

iframe li {
  line-height: 60px;
  padding-right: 40px;
}


a:hover {
  text-decoration: underline;
}


.resume {
  margin-bottom: 30px;
}

.Resume_h1{
  text-align: left;
}

.resume h2 {
  font-size: 24px;
}

.resume h2:hover{
  text-decoration: underline;
}




.vision-mission{
  width: 700px ;
  
}

.vision-mission h3{

  text-align: left;
}

.vision-mission h3:hover{
  text-decoration: underline;
  font-size: 20px;
  transition:.15s ;
}

.vision-mission p{
  font-size: 19px;
}

.vision-mission p:hover{
  
  font-size: 20px;
  transition:.15s ;
}
.job-requirements{

  width: 700px;
}
.job-requirements h3{

  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;

}

.job-requirements h3:hover{
  font-size: 20px;
  transition:.15s ;
  text-decoration: underline;
}
.job-requirements ul{
 margin-left: 30px;
  font-size: 18px;
  line-height: 39px;
  text-align: justify;
}

.job-requirements ul :hover{
  font-size: 20px;
  transition: 0.20s;
}